FreelanceApp.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
FreelanceApp.API/bin/Debug/netcoreapp3.1/appsettings.json
FreelanceApp.API/bin/Debug/netcoreapp3.1/FreelanceApp.API.deps.json
FreelanceApp.API/bin/Debug/netcoreapp3.1/FreelanceApp.API.dll
FreelanceApp.API/bin/Debug/netcoreapp3.1/FreelanceApp.API.exe
FreelanceApp.API/bin/Debug/netcoreapp3.1/FreelanceApp.API.pdb
FreelanceApp.API/bin/Debug/netcoreapp3.1/FreelanceApp.API.runtimeconfig.dev.json
FreelanceApp.API/bin/Debug/netcoreapp3.1/FreelanceApp.API.runtimeconfig.json
FreelanceApp.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.assets.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.csproj.CoreCompileInputs.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.csproj.FileListAbsolute.txt
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.csprojAssemblyReference.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.dll
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.exe
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.genruntimeconfig.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.MvcApplicationPartsAssemblyInfo.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.pdb
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.RazorTargetAssemblyInfo.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/staticwebassets/FreelanceApp.API.StaticWebAssets.Manifest.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/staticwebassets/FreelanceApp.API.StaticWebAssets.xml
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.assets.cache
FreelanceApp.API/obj/Debug/netcoreapp3.1/FreelanceApp.API.csprojAssemblyReference.cache

